.drop-down-mask {
    position: fixed;
    top: 0;
    height: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    // background-color: rgba(55,55,55,.6);
}





.drop-down{
  z-index: 1001;
  background-color: white;
  border-bottom: 1px solid lightgray;
  border-left: 1px solid lightgray;
  border-right: 1px solid lightgray;
  // box-shadow: 1px 1px 1px 1px #888888;


  // ul{
  //   -webkit-padding-start: 0px;
  //   li{
  //     margin: 0 auto;
  //     align-items: center;
  //   }
  // }
  // }

  .drop-down-item{
    text-decoration: none;
    font-family: sans-serif;
    font-size: 13px;
    color: gray;
    width: 250px;
    height: 55px;
    border-bottom: 1px solid lightgray;
    text-align: left;

    &:hover {
      border-bottom: 1px solid black;
    }

    span{
      line-height: 55px;
      vertical-align: middle;
      font-size: 14px;
      font-family: sans-serif;
    }

    // a{
    //   line-height: 55px;
    //   vertical-align: middle;
    //   font-size: 14px;
    //   font-family: sans-serif;
    //   color: gray;
    //   text-decoration: none;
    // }
  }

  a{
    line-height: 55px;
    vertical-align: middle;
    font-size: 14px;
    font-family: sans-serif;
    color: gray;
    text-decoration: none;
  }

  .last-item{
    border-bottom: 0px;
  }
}
