$light-color: rgb(118, 118, 118);
$medium-color: rgb(72, 72, 72);
// $booking-price-color: rgb(63, 63, 63);
// $alpha: 0.91;
// $booking-price-alpha: rgba
.home-show-container{

  .icon {
    font-size: 20px;
    margin-right: 10px;
    color: $medium-color;
  }

  .image-container {
    width: 100%;
    height: 500px;

    .image {
      background-repeat: no-repeat;
      background-size: cover;
      background-position: 50% 50%;
      width: 100%;
      height: 100%;
    }
  }

  .home-show-body {
    margin: 0 auto;
    padding: 0 24px;
    font-family: sans-serif;

    .home-show-centered {
      //position: relative;
      //display: flex;
      width: 85%;
      margin: 0 auto;
      //justify-content: space-between;
    }

    h1 {
      margin-bottom: 5px;

      + span {
        color: $light-color;
        font-weight: 300;
      }
    }
      .home-show-content{
        width: 55%;

          .home-stats {
            margin: 20px 0 30px;
            span {
              margin-right: 20px;
              font-weight: 300;
            }
          }
          .home-summary {
            border-bottom: 1px solid lightgray;
          }

          .section {
              border-bottom: 1px solid lightgrey;
              padding: 24px 0;

              .section-title {
                  font-size: 17px;
                  color: inherit !important;
                  font-weight: bold !important;
                  margin-bottom: 20px;
              }
          }

          .description {
            span {
              font-size: 14px;
              font-weight: normal;
            }

            p {
              color: $light-color;
            }
          }

          .amenities {
            .icon {
              width: 30px;
              height: 30px;
              margin-right: 20px;
              color: $light-color;
            }

            .content {
              div {
                margin: 10px 0;
              }
            }
          }

          .prices {
            div {
              color: $light-color;
              font-weight: 300;
              margin: 10px 0;
                span {
                  font-weight: 500;
                  color: $medium-color;
                }
            }
          }

          .sleeping-arrangements {
            .content {
              display: flex;

                .item {
                  width: 50%;

                  .icon {
                    font-size: 40px;
                    font-weight: 100;
                  }
                  div {
                    margin: 10px 0;
                  }
                  span {
                    color: $light-color;
                  }
                }
            }
          }

          .cancellations {
            div {
              color: $light-color;
              margin: 5px 0;
              text-transform: capitalize;
            }
          }

          .availability {
            margin-bottom: 30px;
            span {
              color: $light-color;
            }
          }
        }
      .booking-widget{
        height: 330px;
        width: 380px;
        // background-color: white;
        position: absolute;
        top: 530px;
        right: 225px;

        .booking-price-bar{
          height: 50px;
          display: flex;
          align-items: center;
          background-color: rgba(63, 63, 63, 0.85);
          color: white;
          .price-spans{
            margin-left: 20px;
            .booking-span1{
              font-family: verdana;
              font-size: 20px;
              font-weight: 600;
            }
            .booking-span2{
              font-family: sans-serif;
              font-size: 13px;
              font-weight: 100;
              letter-spacing: 1px;
            }
          }
        }
        .booking-user-message{
          text-align: center;
          color: red;
          font-size: 13px;
          margin-bottom: 5px;
          background: white;
        }
          .booking-form-div{
            background: white;
            border: 1px solid lightgray;
              .booking-user-message{
                height: 20px;
              }
              .date-inputs{
                width: 92%;
                margin: 0 auto;
                display: flex;
                margin-bottom: 15px;
                .check-in{
                  font-size: 14px;
                  input{
                    margin-top: 10px;
                    width: 92%;
                    height: 42px;
                    font-family: sans-serif;
                    color: gray;
                    font-size: 14px;
                    padding-left: 11px;
                    // border: 0.5px solid lightgray;
                  }
                }
                .check-out{
                  font-size: 14px;
                  input{
                    margin-top: 10px;
                    width: 92%;
                    height: 42px;
                    font-family: sans-serif;
                    color: gray;
                    font-size: 14px;
                    padding-left: 11px;
                    // border: 0.5px solid lightgray;
                  }
                }
              }
              .guest-selector{
                width: 92%;
                margin: 0 auto;
                font-size: 14px;
                select{
                  margin-top: 10px;
                  height: 42px;
                  width: 100%;
                  background-color: white;
                  border: 1px solid gray;
                  font-size: 14px;
                  color: gray;
                  border: 1px solid lightgray;
                  &:hover{
                    cursor: pointer;
                  }
                }
              }
              .booking-submit{
                width: 92%;
                margin: 0 auto;
                margin-top: 18px;
                button{
                  width: 100%;
                  height: 42px;
                  border-radius: 5px;
                  color: white;
                  background-color: #ff5a5f;
                  border: #ff5a5f;
                  font-size: 18px;
                  font-family: sans-serif;
                  font-weight: 400;
                  letter-spacing: 1px;
                  &:hover{
                    cursor: pointer;
                  }
                }
              }
              .charge-message{
                width: 92%;
                margin: 0 auto;
                align-items: center;
                margin-top: 15px;
                margin-bottom: 15px;
                display: flex;
                justify-content: center;
                span{
                  font-family: sans-serif;
                  font-size: 11px;
                  color: gray;
                }
              }
        }
      }

      .fixed-widget{
        position: fixed;
        top: 81px;
        right: 225px;
      }
    // }

  }
}
