@import "font-awesome-sprockets";
@import "font-awesome";
//
// @import './session_form';
// @import './nav_bar';
// @import './drop_down';
// @import './user_edit';

body {
  margin: 0;
}

ul{
  list-style: none;
}

.main-content {
    margin-top: 80px;
}
