.nav-bar{
  margin: 0px;
  -webkit-appearance: none;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid lightgray;
  height: 80;

  a {
    text-decoration: none;
    font-family: sans-serif;
    font-size: 13px;
    color: gray;
  }

  a:hover{

  }

  .left-nav{

    display: flex;

      .search-bar-container{
        width: 895px;
        display: flex;

        .search-bar{
          height: 48px;
          justify-content: center;
          vertical-align: center;
          margin-top: 12px;
          display: flex;
          border: 1px solid gray;

          .magnifying-glass-search{
            height: 45px;
            width: 45px;
            i {
              position: relative;
              font-size: 27px;
              top: 9px;
              left: 16px;
              margin: 2px;
            }
          }

          .search-bar-input{
            height: 45px;
            width: 490px;
            border: 0px solid;
            margin-left: 20px;
            outline: none;
            font-size: 18px;
          }

        }
      }



      .home-button{
        height: 80px;
        width: 80px;
        background: image-url('SkiBnb_logo.jpg') no-repeat;
        background-size: contain;
      }
  }


  .right-nav{

    height: 100%;
    .account-bar{

      .auth-links{
        display: flex;
        height: 80px;
        .signup-link-container{
          height: 100%;
          width: 80px;
          text-align: center;
          vertical-align: center;

        }
        .login-link-container{
          height: 100%;
          width: 80px;
          text-align: center;
        }
      }
    }
  }
}





//comment
