
.auth-modal{
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.8);
  z-index: 10;

    .auth-form{

      .auth-errors{

        height: 90px;
        width: 500px;
        margin: 0 auto;
        border-radius: 10px;
        display: flex;

        .errors-left{
          background-color: #FC642D;
          height: 100%;
          width: 50px;
          border-top-left-radius: inherit;
          border-bottom-left-radius: inherit;
          overflow: hidden;
          border-right: 2px solid #FC642D;
          border-bottom: 2px solid #FC642D;
          border-top: 2px solid #FC642D;

          i {
            position: relative;
            left: 11px;
            top: 30px;
            color: white;
            font-size: 30px;
          }
        }
        .errors-right{
          border-top-right-radius: inherit;
          border-bottom-right-radius: inherit;
          height: 100%;
          width: 450px;
          border-right: 2px solid lightgray;
          border-bottom: 2px solid lightgray;
          border-top: 2px solid lightgray;
          vertical-align: center;

          ul {
            display: inline-block;
            list-style: none;
            font-family: sans-serif;
            font-size: 15px;
            font-weight: 300;

            li {
              display: inline-block;
            }

          }
        }
      }
      padding-top: 15px;
      width: 568px;
      background: white;
    h1{
      font-family: sans-serif;
      font-size: 28px;
      font-weight: 700;
      margin: 20px 33px;
      color: #484848;
    }

      .bar{
        border-top: 1px solid lightgray;
        margin: 0 auto;
        width: 500px;
        height: 15px;
      }

      .form-exit{
        width: 500px;
        margin: 0 auto;
        a{
            span {
              display: inline-block;
              color: #484848;
              font-size: 28px;
              font-weight: 100;
            }
          }
        }

        .signup-form {
            width: 500px;
            padding-left: 30px;
            padding-right: 30px;
            padding-bottom: 20px;
            padding-top: 0px;
            margin: 0 auto;


            .input-field {
                height: 45px;
                border: solid 1px lightgray;
                border-radius: 2px;
                margin: 20px 0;

                input {
                    border: none;
                    height: 25px;
                    padding: 10px;
                    font-weight: 100;
                    font-size: 18px;
                    width: 420px;

                    -webkit-appearance:none;

                }

                input:focus {
                  outline: none;
                }


                .icon {
                  font-size: 20px;
                  color: gray;
                  position: relative;
                  left: 20px;
                }
            }

            .button-container {
              width: 600px;
              margin: 0 auto;

              button {
                width: 500px;
                margin: 0 auto;
                height: 45px;
                background-color: #FF5A5F;
                border: none;
                border-radius: 4px;
                color: white;
                font-size: 18px;
              }
              button:hover{
                cursor: pointer;
              }
            }
        }

        .guest-form{
          display: flex;
          justify-content: center;
          align-items: center;
          .guest-hidden{
            display: none;
          }
          button{
            width: 500px;
            margin: 0 auto;
            height: 45px;
            background-color: #008489;
            border: none;
            border-radius: 4px;
            color: white;
            font-size: 18px;
          }

          button:hover{
            cursor: pointer;
          }
        }

        .auth-footer {
          display: flex;
          align-items: center;
          justify-content: center;
          font-family: sans-serif;
          font-size: 18px;
          font-weight: 100;
          color: gray;

          a {
            color: #008489;
            font-weight: 500;
            margin: 10px;
            text-decoration: none;
          }

          a:hover {
            text-decoration: underline;
          }
        }
    }
}
