  .user-edit-form{

    background-color: white;
    position: relative;
    top: 120px;
    margin: 0 auto;
    width: 766px;

    margin-bottom: 28px;
    .form-wrapper{
      border: 1px solid lightgray;
    }

    .form-header{
      background: #eaebed;
      height: 47px;

      span{
        margin: 20px;
        line-height: 55px;
        vertical-align: middle;
        font-size: 14px;
        font-family: helvetica;
        color: black;
        font-weight: 200;

      }
    }

    .input-field {
      height: 35px;
      width: 540px;
      vertical-align: middle;
      display: flex;
      margin: 28px;
      label{
        width: 185px;
        text-align: right;
        display: inline-block;
        vertical-align: middle;
        font-family: sans-serif;
        font-size: 13px;
        color: gray;
      }
      input {
        margin-left: 15px;

        height: 35px;
        width: 540px;
        border: 1px solid gray;
        font-size: 14px;
        padding-left: 10px;
      }
    }
    .save-button{
      margin-top: 25px;
      width: 90px;
      height:42px;
      background-color: #ff5a5f;
      color: white;
      font-size: 14px;
      border-radius: 4px;
      border: none;

      &:hover{
        cursor: pointer;
        background-color: rgba(255, 90, 95, 0.74);
      }
    }
  }
